@charset "UTF-8";

/* Navigation*/

	.navbar-fixed-bottom{background-color: #333; }
	#nav1{background-image: none;}  
	#AddTender{background-color: rgba(30,75,39,0.5); color: white;}
	#new{word-break: break-all;}
	#search-form{padding-top:9px; margin-left:25%;}
	
/* Info section*/
	.ds{text-align: cetner;}
	body{ padding-top: 80px; }
	body {  height: 100%;  text-align: left;  padding-top: 80px;}
	.td{text-align: center; width:50%;}
	.tb{background-color: white; border:1px solid; border-color: #c0c0c0;  border-radius: 25px; font-size: 15px; }
	.input-group-addon{background-color: white}
	.btn-edit{background-color: rgb(255, 173, 51,0.7);}
/* footer*/
	.wrapper{background-color: #333; height: 40px; color : white;}      