@charset "UTF-8";

/* Navigation*/

	.navbar-fixed-bottom{background-color: #333; }
	#nav1{background-image: none;}  
	#AddTender{background-color: rgba(30,75,39,0.5); color: white;}
	#new{word-break: break-all;}
	#search-form{padding-top:9px; margin-left:25%;}
	
/* Info section*/
	.ds{text-align: cetner;}
	body{ padding-top: 80px; }
	body {    text-align: left;  padding-top: 80px;}

/* footer*/  
	.wrapper{background-color: #333; height: 40px; color : white;}        