@charset "UTF-8";

/* Navigation*/
	#header{
		width: 100%;
		background-color: rgba(260,260,260, 0.5);
		overflow:auto;
		height:40px;
		position: fixed;
	}
	.logo{
	float:left;
	}
	#home{
		height:100%;
		width: 100%;
		border: none;
		float:left;
		background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
 		background-blend-mode: normal, lighten, soft-light;
	}
	.headerSection{
		float:left;
		height:100%;
		width:7%;
		
	}
	.headerSectionRight{
		float:right;
		height:100%;
		width:6%;
		background-color: rgba(260,260,260, 0.5);
		border-right: 1px solid darkgrey;
		text-align: center;
		padding-top: 10px;
	}
	
	#bthAddTender{
		height:100%;
		float:left;
		width:5%;
		border: none;
		border-radius: 0px 3px 3px 0px;
		background-image: linear-gradient(to top, #0ba360 0%, #3cba92 60%);
		color: white;
		float:left;
		}#bthAddTender:hover{
			background-image: linear-gradient(to bottom, #0ba360 0%, #3cba92 60%);
			float:left;
		}
	#tenderId{
		height:100%;
		border: none;
		background-color: white;
		float:left;
		width:30%;
		padding-left: 1%;
		border-radius: 3px 0px 0px 3px;
	}
	
/* Common*/

	body {
		height: 100%;
		background-image: url('tender/images/background-concrete-dirty-984540.jpg');
		}


/* Tenders info*/
	
	.tendersContainer{
		overflow:auto;
		margin: 3%;
		margin-right: 2%;
		}
	.tbl{
		width: 100%;
		background-color: rgb(226, 226, 226,0.95);
		color:black;
		margin-bottom: 10px;
		}
	.tenderTableData {
		text-align: center;
		width:50%;
		height: 30px;
		border-bottom: 1px solid;
		border-top: 1px solid;
		border-color: rgb(224, 224, 224);
		margin:25%;
		}
	
	/* Tenders information blocks */
	.tendcont{
				height: 60px;
				text-align: center;
				vertical-align: middle;
				line-height: 60px;
				margin-bottom: 1px;
		}
		/* Div of tenders info */
		.tend{
			height:inherit;
			border: none;
			float:left;
			overflow: hidden;
		}
		/* Blocks and buttons with tenders information */
		.tendStageFill{border-radius: 5px 0px 0px 5px;width: 7%; background-color:rgb(158, 223, 169,0.95);}
		.tendStageCons{border-radius: 5px 0px 0px 5px;width: 7%; background-color:rgb(165, 195, 209,0.95);}
		.tendStageCompl{border-radius: 5px 0px 0px 5px;width: 7%; background-color: rgb(217, 168, 197,0.95);}
		.tendid{width: 15%; background-color: rgb(245, 245, 242,0.95); cursor: pointer;}.tendid:hover{background-color: rgb(245, 245, 242,0.9);}
		.tendName{width: 30%;background-color: rgb(245, 242, 250,0.95); border-left: 1px solid rgb(260, 260, 260,0.6); cursor: pointer;}.tendName:hover{background-color: rgb(245, 242, 250,0.9);}
		.tendCity{width: 12%;	background-color: rgb(245, 245, 242,0.95); border-left: 1px solid rgb(260, 260, 260,0.6);}
		.tendPrice{width: 10%; 	background-color: rgb(245, 245, 242,0.95); border-left: 1px solid rgb(260, 260, 260,0.6);}
		.tendInf{width: 16%; background-color: rgb(173, 179, 217,0.95); border-left: 1px solid rgb(260, 260, 260,0.6); cursor: pointer;}.tendInf:hover{background-color: rgb(173, 179, 217,0.9);} 
		.tendEdit{width: 10%; background-color: rgb(255, 173, 51,0.8);border-radius: 0px 5px 5px 0px; cursor: pointer;}
	
	.lower{
		font-size: 10px;
		}
	#popUps {
		font-size: 20px;
		height:80px;
		color:black;
		margin-top:80px;
		width:200px;
		}

/* footer*/
	.wrapper{
		background-image: linear-gradient(to bottom, #8e8e8e, #434343);
		background-size: cover;
		height: 80px;
		color: lightgrey; 
		}


/* Pop ups warnings*/
	.area {
	    position: relative;
	    font-weight: bold;
		}

	.fixed {
	    position: absolute;
	    top: -40px;
	    left: 293px;
	    padding: 5px;
	    z-index: 9999;
	    background-color: white;
	    display: none;
	    font-size: 20px;
	    color: rgba(140, 2, 11, 0.8);
		}

	.popup{
		position: absolute;
	    padding: 5px;
	    top: 10px;
	    z-index: 9999;
	    background-color: white;
	    display: none;
	    font-size: 15px;
	    color: rgb(149, 153, 150);
		}
	}

