@charset "UTF-8";



	#header{
		width: 100%;
		background-color: rgba(260,260,260, 0.5);
		overflow:auto;
		height:40px;
	} 
	.logo{
	float:left;
	}
	#home{
		height:100%;
		width: 100%;
		border: none;
		float:left;
		background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
 		background-blend-mode: normal, lighten, soft-light;
	}
	.headerSection{
		height:100%;
		float:left;
		width:7%;
	}
	.headerSectionRight{
		height:100%;
		float:right;
		width:6%;
		background-color: rgba(260,260,260, 0.5);
		border-right: 1px solid darkgrey;
		text-align: center;
		padding-top: 10px;
	}
	
<!-- Edit section-->

	body {
  } 
	.tbl{
		width: 100%;
		}
	.container{
		padding-top: 70px;
		}
		
		.mainDiv{
		border-radius: 7px;
		width:90%;
		margin-left:5%;
		margin-top:2%;
		background-color: rgb(220, 220, 220,0.85);
		float: left;
   		padding: 3%;
	}
	.shadow{
		-moz-box-shadow: 5px 5px 5px rgb(224, 224, 224);
		-webkit-box-shadow: 5px 5px 5px rgb(224, 224, 224);
		box-shadow: 5px 5px 5px rgb(224, 224, 224);
		}
	.marg{
		margin: 4%;
		}
	
	.dateInput{
		width:50%;
		margin-left:30%;
		}
		
	.td {
		text-align: center; 
		width:50%;
		height: 30px; 
		border-bottom: 1px solid; 
		border-top: 1px solid;
		border-color: rgb(224, 224, 224);
		font-size: 12px;
		}
	
	
	.bt {
		height: 30px;
		width: 100%;
		border: none;
		border-radius: 4px;
		background-color: none;     
		}
		
	.btnSubmit{
		background-color: rgb(0, 130, 32, 0.6);  
		}
		
	.btnBack{
		background-color: rgb(86, 64, 64, 0.4);  
		}

<!--Footer -->
	.wrapper{
		background-color: #333; 	
		height: 40px; 
		color : white;
		}  